Life expectancy auto AI/flows.json
[{"id":"6d6f2684.4a4c28","type":"tab","label":"Life expectancy autoai","disabled":false,"info":""},{"id":"9f5c442c.a72c28","type":"ui_form","z":"6d6f2684.4a4c28","name":"","label":"","group":"914bdf63.16d35","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":false,"rows":null},{"label":"Year","value":"b","type":"number","required":false,"rows":null},{"label":"Status","value":"c","type":"text","required":false,"rows":null},{"label":"Aadult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles ","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":59,"y":351,"wires":[["1196d12e.eb03df"]]},{"id":"1196d12e.eb03df","type":"function","z":"6d6f2684.4a4c28","name":"pre token","func":"//make user given values as global variables\n\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n//following are required to receive a token\nvar apikey=\"KgbcWYscYHqMGNKXv-vWot9YMQ2x7swSvTgtPZjZyddE\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":123,"y":215,"wires":[["80c9fb53.c78d08"]]},{"id":"83cd90e.e3d9f7","type":"http request","z":"6d6f2684.4a4c28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/d1d2100a-f999-44f0-8a9b-43ea477c47dd/predictions","tls":"","persist":false,"proxy":"","authType":"","x":417,"y":225,"wires":[["16c3f776.1bf839","a6b41b49.2599f8"]]},{"id":"aeee427.7ed2bc","type":"debug","z":"6d6f2684.4a4c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":745,"y":53,"wires":[]},{"id":"a6b41b49.2599f8","type":"function","z":"6d6f2684.4a4c28","name":"getFrom Endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":534,"y":89,"wires":[["aeee427.7ed2bc","4bfdf3e9.e8ca6c"]]},{"id":"16c3f776.1bf839","type":"debug","z":"6d6f2684.4a4c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":578,"y":302,"wires":[]},{"id":"3fae3320.735ffc","type":"function","z":"6d6f2684.4a4c28","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"07eac41b-fbba-475f-afd5-258dc5cc03d5\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n//send the user values to service endpoint\nmsg.payload = \n{\"input_data\":[\n    {\"fields\":['Country', 'Year', 'Status', 'Adult Mortality', 'infant deaths', 'Alcohol','percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ','under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',' HIV/AIDS', 'GDP', 'Population',' thinness  1-19 years', ' thinness 5-9 years','Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\nreturn msg;\n","outputs":1,"noerr":0,"x":292,"y":303,"wires":[["83cd90e.e3d9f7"]]},{"id":"80c9fb53.c78d08","type":"http request","z":"6d6f2684.4a4c28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":240,"y":75,"wires":[["3fae3320.735ffc"]]},{"id":"4bfdf3e9.e8ca6c","type":"ui_text","z":"6d6f2684.4a4c28","group":"914bdf63.16d35","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":739,"y":122,"wires":[]},{"id":"914bdf63.16d35","type":"ui_group","z":"","name":"Default","tab":"18349bc9.080394","order":1,"disp":true,"width":"6","collapse":false},{"id":"18349bc9.080394","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]