flows.json
[{"id":"88602d4.7e369d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e25899c1.ad6e18","type":"ui_form","z":"88602d4.7e369d","name":"","label":"","group":"5b04c9d3.80bf58","order":0,"width":0,"height":0,"options":[{"label":"Aadult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles ","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":59,"y":351,"wires":[["7daa158d.551cec"]]},{"id":"7daa158d.551cec","type":"function","z":"88602d4.7e369d","name":"pre token","func":"//make user given values as global variables\n\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\n \n\n\n//following are required to receive a token\nvar apikey=\"t8zltqYOuz740YZn8nacrKYa4oHqcuEF4jpHzWD6Eg4F\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":123,"y":215,"wires":[["595bef38.a2a91"]]},{"id":"17212b12.90b045","type":"http request","z":"88602d4.7e369d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/07eac41b-fbba-475f-afd5-258dc5cc03d5/deployments/fc08a561-e317-4348-b4c8-022fa98e20ab/online","tls":"","persist":false,"proxy":"","authType":"","x":417,"y":225,"wires":[["b3845554.415918","153ce41b.a8e6fc"]]},{"id":"f42d2cc.846f4d","type":"debug","z":"88602d4.7e369d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":745,"y":53,"wires":[]},{"id":"153ce41b.a8e6fc","type":"function","z":"88602d4.7e369d","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":534,"y":89,"wires":[["f42d2cc.846f4d","7a4d4aa4.f482d4"]]},{"id":"b3845554.415918","type":"debug","z":"88602d4.7e369d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":578,"y":302,"wires":[]},{"id":"7121d9af.c15548","type":"function","z":"88602d4.7e369d","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"07eac41b-fbba-475f-afd5-258dc5cc03d5\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\n\n\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[ 'Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population',' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":292,"y":303,"wires":[["17212b12.90b045"]]},{"id":"595bef38.a2a91","type":"http request","z":"88602d4.7e369d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":240,"y":75,"wires":[["7121d9af.c15548"]]},{"id":"7a4d4aa4.f482d4","type":"ui_text","z":"88602d4.7e369d","group":"5b04c9d3.80bf58","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":739,"y":122,"wires":[]},{"id":"5b04c9d3.80bf58","type":"ui_group","z":"","name":"Default","tab":"599bb214.d905cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"599bb214.d905cc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]